p {
	/* Border */
	border: 2px solid blue;

	/* Content - width and height */
	width: 50%;

	/* padding - between element and border */
	padding-left: 10px;

	/* margin */
	/*margin: 20px 40px 500px 100px;*/
/*	margin: 0 auto 0 auto;
*/	
	margin: 50px 20px;
}